<h1>My Burger List!</h1>

<div class="row"> {{!-- Begin Add Burger Question --}}
  <div class="col-12"  id="question">
    <h3>What other burger do you want to try?</h3>
    <form class="create-form">

      <div class="input-group col-lg-6 col-md-8 offset-lg-3 offset-md-2">
        <input type="text" class="form-control" id="burg" name="name" placeholder="Ex: 'Jalapeno Burger'">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="submit">Add Burger!</button>
        </span>
      </div>
    </form>
  </div>
</div> {{!-- End Add Burger Question --}}


<div class="row" id="lists"> {{!-- Starting lists --}}
  <div class="col-md-6 col-sm-12">
    <h2>#BurgerGoals</h2>
    <ul>
      {{#each burger}}
        {{#unless this.devoured}}
          <li>
            <button class="eat-burger btn btn-danger" data-id="{{this.id}}">
              Devour! >>
            </button>
            {{this.burger_name}}
          </li>
        {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div class="col-md-6 col-sm-12">
    <h2>#Conquered:</h2>
    <ul>
      {{#each burger}}
        {{#if this.devoured}}
          <li>{{this.burger_name}}</li>
        {{/if}}
      {{/each}}
    </ul>
  </div>

</div>{{!-- Ending lists --}}

<script>
  // Make sure we wait to attach our handlers until the DOM is fully loaded.
  $(function() {
    $(".eat-burger").on("click", function(event) {
      var id = $(this).data("id");

      var newDevouredState = {
        devoured: true
      };

      // Send the PUT request.
      $.ajax("/api/burgers/" + id, {
        type: "PUT",
        data: newDevouredState
      }).then(
        function() {
          console.log("changed devoured to true");
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });

    $(".create-form").on("submit", function(event) {
      // Make sure to preventDefault on a submit event.
      event.preventDefault();

      var newBurger = {
        name: $("#burg").val().trim(),
        devoured: false
      };

      // Send the POST request.
      $.ajax("/api/burgers", {
        type: "POST",
        data: newBurger
      }).then(
        function() {
          console.log("created new burger");
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });
  });
</script>
